.NavMain {
  background-color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 999;
}
.NavMain h1 {
  font-size: 35px;
  background: -webkit-linear-gradient(rgb(6, 132, 250), rgb(191, 203, 236));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.NavMain .btn {
}

.logo {
  height: 100px;
  width: 250px;
}

@media only screen and (min-width: 767px) {
  #toggle {
    display: none;
  }
  .logo {
    height: 100px;
    width: 250px;
  }
}
